{% extends 'base.html' %}
    
{% block title %}
    Tweetme2
{% endblock title %}

{% block content %}
    <div class='row text-center'>
        <div class='col'>
            <h1>Welcome to Tweetme</h1>
        </div>
    </div>
        <div id='tweets'>
    <div id='tweets'>
        loading...
    </div>
    <script>
        const tweetsElement=document.getElementById("tweets")
        tweetsElement.innerHTML=""
        const xhr=new XMLHttpRequest()
        const method= 'GET' 
        const url = "/tweets" //el que va a retornar el json
        const responseType="json"
        function handleDidLike(tweet_id,currentCount){
            console.log(tweet_id+"++"+currentCount)
            return
        }
        function likeBtn(tweet){
            return "<button class='btn btn-primary btn-sm' onClick=handleDidLike("+tweet.id+","+tweet.likes+")>"+tweet.likes+" Likes</button>"
        }

        function formatTweetElement(tweet){
            var formattedTweet="<div class='mb-4 tweet' id='tweet-"+tweet.id+"'><h1>"+tweet.id
            +"</h1>"+"<p>"+tweet.content+
            "</p><div class='btn-group'>"+likeBtn(tweet)+    
            "</div></div>"
            return formattedTweet
        }

        xhr.responseType = responseType
        xhr.open(method,url)//abre la url
        xhr.onload=function(){
            console.log("resp1")
            console.log(xhr.response) //loguear la respuesta 
            const serverResponse = xhr.response
            var listedItems = serverResponse.response//is an array
            console.log("listed items:")
            console.log(listedItems)
            var finalTweetStr=""
            var i;
            for(i=0;i<listedItems.length;i++){
                currentItem=formatTweetElement(listedItems[i])
                finalTweetStr+=currentItem
            }
            tweetsElement.innerHTML=finalTweetStr
        }
        xhr.send() //envia la request
    </script>
{% endblock content %}
